---
import { social, copyright } from "@/content/data/footer.json";
import { Image } from "astro:assets";
---

<br />
<br />
<footer class="text-center dark:bg-zinc-800 bg-zinc-100 pb-6">
  <hr />
  <br />
  <br />
  <div class="flex justify-center gap-4">
    {
      social.map((social) => (
        <>
          <a href={social.link} target="_blank">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              class={`bi bi-${social.icon}`}
              viewBox="0 0 16 16"
              aria-label={social.link}
            >
              <path d={social.path} />
            </svg>
          </a>
        </>
      ))
    }
  </div>
  <br />
  <div class="flex justify-center mb-2">
    <p class="text-sm mt-1">Made with</p>
    <Image
      src="/astro-logo-light-gradient.svg"
      alt="Astro Logo Light"
      width="72"
      height="64"
      class="hidden dark:block"
    />
    <Image
      src="/astro-logo-dark.svg"
      alt="Astro Logo Dark"
      width="72"
      height="64"
      class="block dark:hidden"
    />
  </div>
  <p class="text-xs">
    {`Copyright ${new Date().getFullYear()} ${copyright.holder}`}
  </p>
</footer>
